name: test

on:
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TZ: Asia/Tokyo

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          # node-version-file: 'package.json'
      - run: npm install -g npm@11
      - id: npm-cache
        run: echo "dir=$(npm config get cache)" | tee -a "$GITHUB_OUTPUT"
      - id: cache-key
        run: >
          echo 'suffix=${{ format('{0}-{1}-{2}', runner.os, runner.arch, hashFiles('package-lock.json')) }}'
          | tee -a "$GITHUB_OUTPUT"
      - id: restore-cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules
            ${{ steps.npm-cache.outputs.dir }}
          key: npm-${{ steps.cache-key.outputs.suffix }}
          restore-keys: |
            npm-
      - if: steps.restore-cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts
        env:
          NPM_CONFIG_AUDIT: false
          NPM_CONFIG_PROGRESS: false
          NPM_CONFIG_PREFER_OFFLINE: true
      - run: npm rebuild && npm run prepare --if-present
      - run: npm test
      - if: github.ref_name == 'main'
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules
            ${{ steps.npm-cache.outputs.dir }}
          key: npm-${{ steps.cache-key.outputs.suffix }}
