name: test

on:
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TZ: Asia/Tokyo

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          # node-version-file: 'package.json'
          package-manager-cache: false
      - run: npm install -g "npm@$(jq -r '.devEngines.packageManager.version' package.json)"
      - id: npm-cache
        run: echo "dir=$(npm config get cache)" | tee -a "$GITHUB_OUTPUT"
      - id: npm-version
        run: echo "major=$(npm --version | awk -F . '{ print $1 }' )" | tee -a "$GITHUB_OUTPUT"
      - id: cache-key
        run: >
          echo 'suffix=${{ format('{0}-{1}-{2}-{3}', runner.os, runner.arch, steps.npm-version.outputs.major, hashFiles('package-lock.json')) }}'
          | tee -a "$GITHUB_OUTPUT"
      - uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: npm-cache-${{ steps.cache-key.outputs.suffix }}
          restore-keys: |
            npm-cache-
      - id: restore-cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: node_modules
          key: npm-modules-${{ steps.cache-key.outputs.suffix }}
      - if: steps.restore-cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts
        env:
          NPM_CONFIG_AUDIT: false
          NPM_CONFIG_PROGRESS: false
          NPM_CONFIG_PREFER_OFFLINE: true
      - run: npm rebuild && npm run prepare --if-present
      - run: npm test
      - if: github.ref_name == 'main'
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: npm-cache-${{ steps.cache-key.outputs.suffix }}
      - if: github.ref_name == 'main'
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: node_modules
          key: npm-modules-${{ steps.cache-key.outputs.suffix }}
