name: test

on:
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TZ: Asia/Tokyo

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          # node-version-file: 'package.json'
      - run: npm install -g npm@11
      - id: npm-cache
        run: echo "dir=$(npm config get cache)" | tee -a "$GITHUB_OUTPUT"
      - id: npm-version
        run: echo "major=$(npm --version | awk -F . '{ print $1 }' )" | tee -a "$GITHUB_OUTPUT"
      - id: cache-key
        run: >
          echo 'suffix=${{ format('{0}-{1}-{2}-{3}', runner.os, runner.arch, steps.npm-version.outputs.major, hashFiles('package-lock.json')) }}'
          | tee -a "$GITHUB_OUTPUT"
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: npm-${{ steps.cache-key.outputs.suffix }}
          restore-keys: |
            npm-
      - id: restore-cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: node_modules
          key: npm-${{ steps.cache-key.outputs.suffix }}
      - if: steps.restore-cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts
        env:
          NPM_CONFIG_AUDIT: false
          NPM_CONFIG_PROGRESS: false
          NPM_CONFIG_PREFER_OFFLINE: true
      - run: npm rebuild && npm run prepare --if-present
      - run: npm test
      - if: github.ref_name == 'main'
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            node_modules
            ${{ steps.npm-cache.outputs.dir }}
          key: npm-${{ steps.cache-key.outputs.suffix }}
